
.holder {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 99999;
    width: 100%;
}


.cookie-info {
    display: none;
    width: 100%;
    padding: 8px 20px 8px;
    margin: 0 auto;
    z-index: 1000;
    text-align: center;
    box-sizing: border-box;
    background: #333340;
    color: #fff;
    -webkit-transition: bottom 0.45s;
    transition: bottom 0.45s;
    z-index: 99;
}

.cookie-info p {
    text-align: center;
    margin: 0;
    font-weight: 300;
    font-size: 13px;
    margin: 0 10px;
    display: inline-block;
}

.cookie-info p a {
    color: white;
    text-decoration: underline;
    opacity: 1;
}

.cookie-info p a:hover {
    opacity: .8;
}

.cookie-info i {
    margin-top: -2px;
    font-size: 22px;
    vertical-align: middle;
    display: inline-block;
}

@media (max-width: 768px) {
    .cookie-info i {
        font-size: 20px;
    }
}

.cookie-info .cookie-accept {
    display: inline-block;
    padding: 0px 20px;
    border: solid 1px #fff;
    color: #fff;
    font-style: normal;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: background 0.15s;
    transition: background 0.15s;
    line-height: 26px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .cookie-info .cookie-accept {
        margin-top: 5px;
    }
}

.cookie-info .cookie-accept:hover {
    background: #4A4A5B;
}

@media (max-width: 768px) {
    .cookie-info {
        padding: 10px 20px 12px;
    }
}